<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RedRed</key>
	<string>Red</string>
	<key>OrangeViolet</key>
	<string>Red</string>
	<key>PinkViolet</key>
	<string>Red</string>
	<key>OrangeRed</key>
	<string>Red</string>
	<key>PinkRed</key>
	<string>Red</string>
	<key>RedViolet</key>
	<string>Red</string>
	<key>PinkPink</key>
	<string>Pink</string>
	<key>RedWhite</key>
	<string>Pink</string>
	<key>VioletWhite</key>
	<string>Pink</string>
	<key>PinkTurquoise</key>
	<string>Pink</string>
	<key>OrangeOrange</key>
	<string>Orange</string>
	<key>RedYellow</key>
	<string>Orange</string>
	<key>PinkYellow</key>
	<string>Orange</string>
	<key>BlackOrange</key>
	<string>Orange</string>
	<key>WhiteWhite</key>
	<string>White</string>
	<key>WhiteYellow</key>
	<string>White</string>
	<key>PinkWhite</key>
	<string>White</string>
	<key>BlackPink</key>
	<string>White</string>
	<key>TurquoiseWhite</key>
	<string>White</string>
	<key>PurpleWhite</key>
	<string>White</string>
	<key>YellowYellow</key>
	<string>Yellow</string>
	<key>YellowOrange</key>
	<string>Yellow</string>
	<key>OrangePink</key>
	<string>Yellow</string>
	<key>OrangeWhite</key>
	<string>Yellow</string>
	<key>TurquoiseYellow</key>
	<string>Yellow</string>
	<key>BlackYellow</key>
	<string>Yellow</string>
	<key>VioletViolet</key>
	<string>Violet</string>
	<key>OrangePurple</key>
	<string>Violet</string>
	<key>OrangeTurquoise</key>
	<string>Violet</string>
	<key>PurpleRed</key>
	<string>Violet</string>
	<key>RedTurquoise</key>
	<string>Violet</string>
	<key>PurplePurple</key>
	<string>Purple</string>
	<key>BlackPurple</key>
	<string>Pruple</string>
	<key>TurquoiseViolet</key>
	<string>Purple</string>
	<key>BlackViolet</key>
	<string>Purple</string>
	<key>BlackWhite</key>
	<string>Purple</string>
	<key>PurpleViolet</key>
	<string>Purple</string>
	<key>TurquoiseTurquoise</key>
	<string>Turquoise</string>
	<key>PurpleTurquoise</key>
	<string>Turquoise</string>
	<key>VioletYellow</key>
	<string>Turquoise</string>
	<key>PurpleYellow</key>
	<string>Turquoise</string>
	<key>PinkPurple</key>
	<string>Turquoise</string>
	<key>BlackBlack</key>
	<string>Black</string>
	<key>BlackTurquoise</key>
	<string>Black</string>
	<key>BlackRed</key>
	<string>Black</string>
</dict>
</plist>
